h1 {
  margin-left: auto;
  margin-right: auto;
}

div {
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 5%;
}

body {
  background-color: #fffaf0;
}

/*index photos*/

.main-photos {
  max-width: 65%;
  max-height: 65%;
}

.secondary-content {
  margin-top: 2% !important;
}

.profile-pic {
  max-width: 90%;
  max-height: 90%;
  margin-top: 5% !important;
}

/*Default anchor*/

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #36454f;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Navigation bar*/

ul {
  list-style-type: none;
  margin-bottom: 2%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
}

/*Articles*/

.blog {
  margin: 2% 5%;
}

.blog-example {
  width: 80%;
  height: 100%;
  padding: 1% !important;
}

article {
  border: #36454f solid;
  margin: 0% 2% 0% 2%;
}

.box-example1 {
  width: 3%;
  height: 3%;
  border: dotted 3px black;
  padding: 3%;
}

.box-example2 {
  width: 3%;
  height: 3%;
  border: solid 3px teal;
  padding: 3%;
}

.box-example3 {
  width: 3%;
  height: 3%;
  border: double 3px orange;
  padding: 3%;
}

.box-example4 {
  width: 3%;
  height: 3%;
  border: dashed 3px chocolate;
  padding: 3%;
}

.box-example5 {
  width: 3%;
  height: 3%;
  border: ridge 3px teal;
  padding: 3%;
}

.box-example6 {
  width: 3%;
  height: 3%;
  border: outset 3px navy;
  padding: 3%;
}
