


h1 {
  margin-left: auto;
  margin-right: auto; 
 }

 div {
  margin-left: auto;
  margin-right: auto; 
 }

 img {
  max-width: 50%;
  max-height: 50%;
 }

 .gallery-size {

    height: 25%;
    width: 25%;

 }